/* $main-panel
 ------------------------------------------*/
 $mat-toolbar-height-desktop: 64px !default;
 $mat-toolbar-height-mobile-portrait: 56px !default;
 $mat-toolbar-height-mobile-landscape: 48px !default;
 
 .app-inner {
   position: relative;
   width: 100%;
   max-width: 100%;
   height: calc(100vh - #{$mat-toolbar-height-desktop});
 }

.container {
   margin:10px; 
}
 
 @media ($mat-xsmall) and (orientation: portrait) {
   .app-inner {
     height: calc(100vh - #{$mat-toolbar-height-mobile-portrait});
   }
 }
 
 // Specific height for mobile devices in landscape mode.
 @media ($mat-small) and (orientation: landscape) {
   .app-inner {
     height: calc(100vh - #{$mat-toolbar-height-mobile-landscape});
   }
 }
 